*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

/* BUTTON */

.btn a{
  border: 1px solid white;
  border-radius: 50px;
  padding: 15px 40px;
  text-decoration: none;
}

.btn a span{
  color: white;
  text-transform: uppercase;
}

/* HEADER */

header{
  position: fixed;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
  background-color: rgba(0, 0, 0, .5);
  z-index: 800;
}

header .logo{
  width: 130px;
}

.button-box{
  margin-top: 17px;
}

/* MAIN */

main{
  display: flex;
  height: calc(100vh - 90px);
}

aside{
  align-self: flex-start;
  background-color: black;
  width: 230px;
  height: calc(100vh - 90px);
  padding-top: 96px;
  min-height: 543px;
}

aside a{
  text-decoration: none;
}

aside a span{
  color: #6d6d6d;
}

aside .aside-start{
  height: calc(100% - 73px);
  overflow: hidden;
}


aside nav a span{
  font-size: 13px;
}

aside nav ul li{
  padding: 7px 0;
}

aside nav ul li:last-of-type{
  padding: 7px 0 25px 0;
}

aside nav ul li a{
  padding: 7px 23px;
  border-left: 3px solid transparent;
}

aside nav ul li .active{
  padding: 7px 23px;
  border-left: 3px solid #adff2f;
}

aside nav ul li .active span{
  color: white;
}


aside nav a img{
  width: 21px;
  vertical-align: middle;
  margin-right: 9px;
}

/* playlist */

.playlist{
  margin-left: 26px;
  font-size: 15px;
}
.playlist-top h4{
  color: white;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.playlist-top i{
  color: #a3a3a3;
  font-size: 37px;
  vertical-align: middle;
  margin-right: 11px;
}

.playlist-list{
  max-height: 25vh;
  overflow: scroll;
}

.playlist-list ul{
  list-style: none;
}

.playlist-list ul li{
  padding-top: 20px;
}

/* aside foot */

.aside-foot{
  background-color: black;
  height: 73px;
  width: 100%;
  padding: 0 23px;
}

.aside-foot .install span{
  font-size: 13px;
}

.aside-foot .install img{
  width: 13px;
  vertical-align: middle;
}

.line{
  height: 1px;
  width: 100%;
  background-color: gray;
  margin: 13px 0;
}

.aside-foot .user span{
  font-size: 15px;
  color: white;
  vertical-align: middle;
}

.aside-foot .user img{
  width: 20px;
  height: 20px;
  background-color: #808080;
  border-radius: 50%;
  vertical-align: middle;
}



/* libary */

.library{
  width: calc(100% - 230px);
  height: calc(100vh - 90px);
  background-color: #141922;
  min-height: 543px;
}

/* FOOTER */

footer{
  position: fixed;
  background-color: #282828;
  height: 90px;
  width: 100%;
  z-index: 900;
}